/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  display: inline-block;
}

button {
  background-color: white;
  padding: 3px 5px;
  margin: 0.5rem auto;
  border-radius: 8px;
  border: none;
  appearance: none;
  font-size: 0.9rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 5px;
  color: white;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#login-header {
  display: inline-block;
}

#register-header {
  display: inline-block;
  margin-left: 2.3rem;
  opacity: 50%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
